main {
    margin-top: 40px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: #343a40;
}

.text-muted {
    margin-top: 16px;
    color: white !important;
    font-size: 15px;
}

h1 {
    padding-bottom: 40px;
    margin-top: 40px;
    font-size: 56px;
}

.fa-3x {
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
    color: green;
}

a {
    color: inherit;
    text-decoration: none;
}


a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

.row {
    margin: 0;
}

#layoutMain {
    background-image: url('https://fakeimg.pl/156x100/?retina=1&text=Main&font=noto');
    border-right: 4px solid lightgrey;
    padding: 28px;
}

#layoutAside {
    background-image: url('https://fakeimg.pl/156x100/?retina=1&text=Aside&font=noto');
    border-left: 4px solid lightgrey;
    padding: 28px;
}

#layoutBottom {
    background-image: url('https://fakeimg.pl/156x100/?retina=1&text=Bottom&font=noto');
    border-top: 8px solid lightgrey;
    padding: 28px;
    margin-bottom: 56px;
}

#layoutHeader {
    background-image: url('https://fakeimg.pl/156x100/?retina=1&text=Header&font=noto');
}

p {
    font-size: 20px;
}

.imageElement {
    width: 60%;
    height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}
